<html>
  <head>
    <title>Spaces</title>
    <%# <link rel="stylesheet" type="text/css" href="/style.css" /> %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <div class="page-content">
      <h1 class="page-heading">Spaces</h1>
      <h2 style=text-align:center>Here is a list of all the wonderful spaces currently available for rent</h2>
      <form METHOD="GET" action="/spaces">
        <div>
          <label for="start_date">Start date:</label>
          <input type="date" name="start_date"/>

          <label for="nights">Number of nights:</label>
          <select name="nights">
            <% (1..7).each do |x| %>
              <option value="<%= x.to_s %>"><%= x.to_s %></option>
            <% end %>
          </select>

          <input type="submit" value="Filter Listings"/>

        </div>
      </form>

      <a href="/spaces/new" class="button">List a space</a>

      <div class="d-flex flex-row">
        <%@spaces.each do |space|%>
        <div class="p-2">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%=space.photo_url%>" alt="<%=space.name%>">
            <div class="card-body">
              <h5 class="card-title"><%=space.name%></h5>
              <p class="card-text"><%=space.description%></p>
              <a href="/space?id=<%=space.id%>'" class="btn btn-primary">Book now!</a>
              <p class="card-text"><small class="text-muted">For £<%=space.price_per_night%> per night.</small></p>
            </div>       
          </div>
        </div>
        <%end%>  
      </div>


    </div>
  </body>
</html>